body {
  overflow-x: hidden;
}
.hide {
  display:none;
}
#new-page {
  width:962px;
  margin:0 auto;
}
#cover {
  width:1000px;
  height:840px;
  position: fixed;
  _position: absolute;
  left:50%;
  top:0;
  margin-left:-500px;
  z-index: 0;
  background:#FFF;
}
#cover div {
  height:840px;
  background-repeat: no-repeat;
}
#cover .l {
  width:486px;
  position:absolute;
  left:20px;
  top:0;
  background-image:url(../img/left.png);
}
#cover .r {
  width:482px;
  position: absolute;
  right:20px;
  top:0;
  background-image: url(../img/right.png);
}
#cover.after {
  width:960px;
  background-color: rgba(0, 0, 0, 0.9);
}
#cover.after .l {
  left:0;
}
#cover.after .r {
  right:0;
}
#feng {
  width:107px;
  height:10px;
  position: fixed;
  _position: absolute;
  left:50%;
  top:0px;
  margin-left: -45px;
  background: url(../img/feng.png);
  font:10px/10px Arial;
}
#knife {
  position: fixed;
  _position: absolute;
  left:50%;
  top:-30px;
  cursor: pointer;
  margin-left: -20px;
}
#pop1 {
  position: fixed;
  _position:absolute;
  left:50%;
  top:360px;
  margin-left: -120px;
}
#pop2 {
  position: fixed;
  _position:absolute;
  left:50%;
  top:100px;
  margin-left: -360px;
}
#arrow {
  position: fixed;
  _position:absolute;
  left:50%;
  top: 300px;
  margin-left: -100px;
  z-index: 4;
}
#share-modal {
  width:680px;
  top:50%;
  margin: -330px 0 0 -340px;
}
#share-modal .modal-body {
  max-height: 1000px;
}
#share-modal img {
  max-width: auto;
}

.animated {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes flash {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0.2;}
}

@-moz-keyframes flash {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0.2;}
}

@keyframes flash {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0.2;}
}

.flash {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  animation-name: flash;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes fly {
  0% {-webkit-transform: translateY(-20px);}
  50% {-webkit-transform: translateY(0);}
  100% {-webkit-transform: translateY(-20px);}
}

@-moz-keyframes fly {
  0% {-moz-transform: translateY(-20px);}
  50% {-moz-transform: translateY(0);}
  100% {-moz-transform: translateY(-20px);}
}

@keyframes fly {
  0% {transform: translateY(-20px);}
  50% {transform: translateY(0);}
  100% {transform: translateY(-20px);}
}

.fly {
  -webkit-animation-name: fly;
  -moz-animation-name: fly;
  animation-name: fly;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media (max-height: 700px) {
  #cover, #cover div {
    height: 700px;
  }
  #cover .l {
    background-image: url(../img/left-700.png);
  }
  #cover .r {
    background-image: url(../img/right-700.png);
  }
}
@media (min-height: 841px) {
  #cover, #cover div {
    height:1440px;
  }
  #cover .l {
    background-image: url(../img/left-1440.png);
  }
  #cover .r {
    background-image: url(../img/right-1440.png);
  }
}